<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/QMS</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <!--<mapping resource="com/jfw/qms/entity/AreaCity.hbm.xml"/>-->
    <mapping class="com.jfw.qms.entity.AreaCity"/>
    <!--<mapping resource="com/jfw/qms/entity/AreaDistrict.hbm.xml"/>-->
    <mapping class="com.jfw.qms.entity.AreaDistrict"/>
    <!--<mapping resource="com/jfw/qms/entity/AreaProvince.hbm.xml"/>-->
    <mapping class="com.jfw.qms.entity.AreaProvince"/>
    <mapping resource="com/jfw/qms/entity/User.hbm.xml"/>
    <mapping class="com.jfw.qms.entity.User"/>
      <mapping resource="com/jfw/qms/entity/AreaCity.hbm.xml"/>
      <mapping resource="com/jfw/qms/entity/AreaDistrict.hbm.xml"/>
      <mapping resource="com/jfw/qms/entity/AreaProvince.hbm.xml"/>
      <mapping class="com.jfw.qms.entity.DiseaseClassification"/>
      <mapping resource="com/jfw/qms/entity/DiseaseClassification.hbm.xml"/>
      <mapping class="com.jfw.qms.entity.DiseaseSymptom"/>
      <mapping resource="com/jfw/qms/entity/DiseaseSymptom.hbm.xml"/>
      <mapping class="com.jfw.qms.entity.Question"/>
      <mapping resource="com/jfw/qms/entity/Question.hbm.xml"/>
      <mapping class="com.jfw.qms.entity.Questionnaire"/>
      <mapping resource="com/jfw/qms/entity/Questionnaire.hbm.xml"/>
      <mapping class="com.jfw.qms.entity.UserQuestionnaire"/>
      <mapping resource="com/jfw/qms/entity/UserQuestionnaire.hbm.xml"/>

      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>