<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/qms</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping class="com.jfw.qms.entity.AnswerCount"/>
        <mapping class="com.jfw.qms.entity.AreaCity"/>
        <mapping class="com.jfw.qms.entity.AreaDistrict"/>
        <mapping class="com.jfw.qms.entity.AreaProvince"/>
        <mapping class="com.jfw.qms.entity.DiseaseClassification"/>
        <mapping class="com.jfw.qms.entity.DiseaseSymptom"/>
        <mapping class="com.jfw.qms.entity.Message"/>
        <mapping class="com.jfw.qms.entity.Question"/>
        <mapping class="com.jfw.qms.entity.Questionnaire"/>
        <mapping class="com.jfw.qms.entity.ReplyQuestionnaire"/>
        <mapping class="com.jfw.qms.entity.User"/>
        <mapping class="com.jfw.qms.entity.UserQuestionnaire"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>